<% if (title){ %>
    <h1><%= title %></h1>
<% }else{
    res.redirect("/")
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
<% errors.array().forEach(error => { %>
<li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>

<form id="loginForm" action="/account/login" method="post">
    <label>Email:<input type="email" name="account_email" id="account_email" required></label>
    <label>Password:<input type="password" name="account_password" id="account_password" required></label>
    <button type="submit" id="loginButton">LOGIN</button>
    <p>No account?<a href="/account/register">Sign-up</a></p>
</form>
