<header id="top-header"> <!-- Header section starts -->
    <span class="siteName"> <!-- Site name section -->
        <a href="/" title="Return to home page">CSE Motors</a> <!-- Link to home page -->
    </span>
    <div id="tools"> <!-- Tools section starts -->
        <% if (locals.loggedin) { %>
            <a href="/account/" >Welcome <%- locals.accountData.account_firstname %></a><!--  Hidden link for username display -->
            <a href="/account/logout" title="Click to Log out" id="loggedIn">Log Out</a> <!-- Hidden link for logout -->
        <% } else { %>
                <a href="/account/login" title="Click to log in" id="loggedOut">My Account</a> 
        <% } %>
    </div> <!-- Tools section ends -->
</header> <!-- Header section ends -->