/******* Change Box Model ***************/
/* *,
*:before,
*:after {
  box-sizing: border-box;
} */

@media screen and (min-width:800px) {
  body{
    background-image: url(../images/site/small_check.jpg);
  }
  #wrapper{
    background-color: white;
    width: 75%;
    margin: auto;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 2%;
  }
  main h1{
    grid-column: 1/3;
  }
  #inv-display{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
  }
  #hero{
    grid-column: 1/3;
  }
  #hero div{
    top: 50px;
  }
  #reviews ul li{
    margin-top: 20px;
  }
  #reviews ul li:not(:last-child){
    margin-bottom: 20px;
  }
  #last-section{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding: 10px;
  }
  /*---- Single View ----*/
  #singleView{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #SingleViewInfo h3{
    margin-top: 0;
  }
  #singleViewPicture{
    width: 300px;
    height: 150px;
  }
  #loginForm{
    width: 35%;
}
}

@media screen and (min-width:1300px) {
  #inv-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
  }
}