<% if (title){ %>
    <h1><%= title %></h1>
    <% }else{
    res.redirect("/")
    }%>

<%- messages() %>


<form action="/inv/add-classification" id="newClassificationForm" method="post">
    <h3>Classification Name</h3>
    <label>NAME MUST BE ALPHABETIC CHARACTERS ONLY<input type="text" name="classificationName" required></label>
    <button type="submit">Add Classification</button>
</form>`